*{
    box-sizing: border-box;
}


.titulo-con-efecto {
    animation: movimiento 2s infinite;
}

@keyframes movimiento {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}
